.Resume-container{
    background-color: #290300;
}

.Resume{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	padding: 2rem;
}

.Resume-placeholder{
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

.yearResume-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.yearResume-container{
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
    color: #fff;
    
}

